@{
    ViewData["Title"] = "Home Page created by Afsar Tanvir";
}

<div class="text-center">
    <h1 class="display-4">Everything Working fine</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
