@model TaskForge.Domain.Entities.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <div class="card p-4 rounded shadow-lg">
        <dl class="row">
            <dt class="col-sm-3">ID:</dt>
            <dd class="col-sm-9">@Model.Id</dd>

            <dt class="col-sm-3">Title:</dt>
            <dd class="col-sm-9">@Model.Title</dd>

            <dt class="col-sm-3">Description:</dt>
            <dd class="col-sm-9">@Model.Description</dd>

            <dt class="col-sm-3">Status:</dt>
            <dd class="col-sm-9">@Model.Status</dd>
        </dl>
        <a asp-action="Index" class="btn btn-secondary mt-3">Back to List</a>
    </div>
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> *@
    <a asp-action="Index">Back to List</a>
</div>
